---
layout: default
sitemap: false
---

<div class="blog-post card mb-3">
    <header class="card-header">
        <h1 class="blog-post-title" itemprop="headline name">
            {% if site.google.cse_id %}
                Resultados da pesquisa
            {% else %}
                Got lost?
            {% endif %}
        </h1>
    </header>

    <article class="blog-post-content card-body" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
        {% if site.google.cse_id %}
            <div class="reset-box-sizing">
                <script>
                    (function() {
                        var cx = '{{ site.google.cse_id }}';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:searchresults-only></gcse:searchresults-only>
            </div>
        {% else %}
            <p>Please, use the search form above.</p>
            <script>
                $(document).ready(function(){
                    $('#search-button').click();
                });
            </script>
        {% endif %}
    </article>
</div><!-- .blog-post -->
