---
---
<!DOCTYPE html>
<html{% if site.lang %} lang="{{ site.lang }}" {% endif %}>
{% include head.html %}
<body class="d-flex flex-column h-100">
    <div class="container mt-4 mb-4">
        <p class="mb-1 text-center">
            <a href="{{ site.baseurl | prepend: site.url }}">
                <img src="{{ site.image | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}" id="linktree-logo" class="img-fluid img-thumbnail rounded-circle">
            </a>
        </p>
        <p class="lead text-center">
            <a href="{{ site.baseurl | prepend: site.url }}" id="linktree-brand">
                <span itemprop="name">{{ site.title }}</span>
            </a>
        </p>

        <h5>Últimos posts:</h5>
        {% for post in site.posts limit:3 %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                            <img src="{{ post.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" class="card-img">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6 class="card-text">
                                <a class="blog-post-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                                    {{ post.title }}
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="d-grid">
            <a href="{{ site.baseurl | prepend: site.url }}" class="btn btn-lg btn-primary mb-3">
                Ir para o site
            </a>
        </div>

        {% if site.shareaholic.site_id and site.shareaholic.follow_buttons_app_id and jekyll.environment == "production" %}
            <div class="shareaholic-canvas" data-app="follow_buttons" data-app-id="{{ site.shareaholic.follow_buttons_app_id }}"></div>
        {% else %}
            {% include follow-buttons.html %}
        {% endif %}
    </div>
</body>
