<footer class="footer mt-auto py-3 bg-light shadow-lg">
    <div class="container">
        <span class="text-muted">Copyright &copy; {{ site.time | date: '%Y' }} {% if site.author.name %}<a href='#author'>{{ site.author.name }}</a>{% else %}<a href='#about'>{{ site.title }}</a>{% endif %}. Todos os direitos reservados. Baseado no <a href='https://gitlab.com/antoniomedeiros/material-jekyll'>Material site template for Jekyll</a>.</span>
    </div>
</footer>

<meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% else %}{{ site.description }}{% endif %}">

{% if page.image %}
    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ page.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}"/>
        <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
        <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
    </div>
{% endif %}

{% if site.lang %}
    <meta itemprop="inLanguage" content="{{ site.lang }}"/>
{% endif %}

{% if site.disqus_shortname and jekyll.environment == "production" %}
    <!-- Disqus -->
    <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
    <!-- Disqus End -->
{% endif %}
