<div class="card mb-3" id="about">
    <div class="card-header">
        <h3><a name="about"></a><a name="author"></a>Sobre mim</h3>
    </div>
    <div class="card-body" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <p class="text-center">
            <a href='{{ "/antonio-hantei.jpg" | prepend: site.baseurl | replace: "//", "/" }}' title='{{ site.author.name }}'>
                <img src='{{ "/antonio-hantei.jpg" | prepend: site.baseurl | replace: "//", "/" }}' alt='{{ site.author.name }}' class='img-fluid img-thumbnail rounded-circle'>
            </a>
        </p>
        <p class="lead text-center" itemprop="name">
            {{ site.author.name }}
        </p>
        <link itemprop="url" href="{{ site.baseurl | prepend: site.url }}">
        <p>
            {{ site.description }}
        </p>
        <p class='text-center'>
            <a href='http://lattes.cnpq.br/2162371468280338' title='Currículo Lattes' itemprop='sameAs'>
                <img src='{{ "/assets/img/curriculo_lattes.png" | prepend: site.baseurl | replace: "//", "/" }}' alt='Currículo Lattes' class='img-fluid d-inline'>
            </a>
        </p>
        {% if site.shareaholic.site_id and site.shareaholic.follow_buttons_app_id and jekyll.environment == "production" %}
            <div class="shareaholic-canvas" data-app="follow_buttons" data-app-id="{{ site.shareaholic.follow_buttons_app_id }}"></div>
        {% else %}
            {% include follow-buttons.html %}
        {% endif %}
    </div><!-- .card-body -->
</div><!-- .card -->

{% if jekyll.environment == "production" %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Anúncio</h3>
        </div>
         <div class="card-body">
            {% include a-ads.html id=site.a_ads_sidebar %}
        </div><!-- .card-body -->
    </div><!-- .card -->
{% endif %}