---
layout: default
sitemap: false
---

<div class="card mb-3">
    <div class="card-header bg-primary">
        <h2 class="blog-archive-title" itemprop="headline name">
            <a href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="url">
                {% case page.type %}
                    {% when 'year' %}
                        Posts publicados em {{ page.date | date: "%Y" }}
                    {% when 'month' %}
                        Posts publicados em
                        {% assign m = page.date | date: "%-m" %}
                        {% case m %}
                        {% when '1' %}janeiro
                        {% when '2' %}fevereiro
                        {% when '3' %}março
                        {% when '4' %}abril
                        {% when '5' %}maio
                        {% when '6' %}junho
                        {% when '7' %}julho
                        {% when '8' %}agosto
                        {% when '9' %}setembro
                        {% when '10' %}outubro
                        {% when '11' %}novembro
                        {% when '12' %}dezembro
                        {% endcase %}
                        {{ page.date | date: "de %Y" }}
                    {% when 'day' %}
                        Posts publicados em {{ page.date | dataEmPortugues }}
                    {% when 'category' %}
                        Posts na categoria {{ page.title }}
                    {% when 'tag' %}
                        Posts com a tag {{ page.title }}
                    {% else %}
                        Archive of posts with {{ page.type }} '{{ page.title }}'
                {% endcase %}
            </a>
        </h2>
    </div>
</div>

{% assign P = page.posts | size %}
{% for post in page.posts %}
    {% assign p = p | plus: 1 %}
    <div class="blog-post card mb-3" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="card-header">
            <h2 class="blog-post-title" itemprop="headline name">
                <a class="blog-post-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="mainEntityOfPage url">
                    {{ post.title }}
                </a>
            </h2>
            <div class="blog-post-meta row">
                <div class='col-sm-6'>
                    <p class="blog-post-date ms-auto me-auto" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
                        <a class='text-muted' href="{{ post.date | date: '/blog/%Y/%m/%d/' | prepend: site.baseurl | replace: '//', '/' }}">
                            {{ post.date | dataEmPortugues }}
                        </a>
                    </p>
                    <meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%Y-%m-%d" }}" />
                </div>
                <div class='col-sm-6'>
                    {% if site.shareaholic.site_id and site.shareaholic.share_buttons_post_meta_app_id and jekyll.environment == "production" %}
                        <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="{{ site.shareaholic.share_buttons_post_meta_app_id }}" data-link="{{ post.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}"></div>
                    {% endif %}
                </div><!-- .col-sm-6 -->
                {% if site.author %}
                    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                        {% if site.author.name %}
                            <meta itemprop="name" content="{{ site.author.name }}">
                        {% endif %}
                        {% if site.author.site %}
                            <link itemprop="url" href="{{ site.author.site }}">
                        {% endif %}
                    </div>
                {% endif %}
                {% if site.lang %}
                    <meta itemprop="inLanguage" content="{{ site.lang }}"/>
                {% endif %}
                <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="{{ site.title }}" />
                    <meta itemprop="url" content="{{ site.baseurl | prepend: site.url }}" />
                    <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                        <meta itemprop="url" content="{{ site.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />
                        <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
                        <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
                    </div>
                </div>
            </div><!-- .blog-post-meta -->
        </div><!-- .card-header -->
        <div class="blog-post-content card-body">
            <div class="row">
                {% if post.image %}
                <div class='col-sm-4' itemprop='image' itemscope itemtype='http://schema.org/ImageObject'>
                    <p class='text-center'>
                        <a href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}'>
                            <img src='{{ post.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}' class='img-fluid img-thumbnail' itemprop="url">
                        </a>
                    </p>
                    <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
                    <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
                </div>
                <div class="col-sm-8">
                {% else %}
                <div class="col-xs-12">
                {% endif %}
                    <!--<p itemprop="description">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 55 }}</p>--><!-- TODO Verificar -->
                    {% if site.disqus_shortname %}
                        <a class='card-link float-start' href="{{ '#disqus_thread' | prepend: post.url | prepend: site.baseurl | replace: '//', '/' }}">Comentários</a>
                    {% endif %}
                    <a class='card-link float-end' href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        Leia mais &rsaquo;
                    </a>
                </div>
            </div><!-- .row -->
        </div><!-- .blog-post-content -->
    </div><!-- .blog-post -->
{% endfor %}
